head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title EMISS - Admin Dashboard
    link(rel='icon', type='image/ico', href='assets/images/favicon.ico')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
      ============================================
      ================= Stylesheets ===================
      =============================================
    // vendor css files
    link(rel='stylesheet', href='assets/css/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='assets/css/vendor/animate.css')
    link(rel='stylesheet', href='assets/css/vendor/font-awesome.min.css')
    link(rel='stylesheet', href='assets/js/vendor/animsition/css/animsition.min.css')
    link(rel='stylesheet', href='assets/js/vendor/datatables/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='assets/js/vendor/datatables/datatables.bootstrap.min.css')
    // project main css files
    link(rel='stylesheet', href='assets/css/main.css')
    // / stylesheets
    //
      ==========================================
      ================= Modernizr ===================
      ===========================================
    script(src='assets/js/vendor/modernizr/modernizr-2.8.3-respond-1.4.2.min.js')
    // / modernizr