doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='')  
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='')  
//if IE 8
  html.no-js.lt-ie9(lang='')  
// [if gt IE 8] <!
html.no-js(lang='')
  // <![endif]
  include ../layout/header.jade
  body#emiss.appWrapper
    //if lt IE 8
      p.browserupgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    //
      ====================================================
      ================= Application Content ===================
      =====================================================
    #wrap.animsition
      //
        ===============================================
        ================= HEADER Content ===================
        ================================================
      section#header
        header.clearfix
          // Branding
          .branding
            a.brand(href='/')
              span
                strong EMISS
            a.offcanvas-toggle.visible-xs-inline(href='#')
              i.fa.fa-bars
          // Branding end
          // Left-side navigation
          ul.nav-left.pull-left.list-unstyled.list-inline
            li.sidebar-collapse.divided-right
              a.collapse-sidebar(href='#')
                i.fa.fa-outdent
          // Left-side navigation end
          // Right-side navigation
          ul.nav-right.pull-right.list-inline
            li.dropdown.nav-profile
              a.dropdown-toggle(href='', data-toggle='dropdown')
                img.img-circle.size-30x30(src='assets/images/profile-photo.jpg', alt='')
                span
                  | John Douey 
                  i.fa.fa-angle-down
              ul.dropdown-menu.animated.littleFadeInRight.pull-right.mr-10(role='menu')
                li
                  a(href='/logout')
                    i.fa.fa-sign-out
                    | Logout
      // / HEADER Content
      //
        =================================================
        ================= CONTROLS Content ===================
        ==================================================
      #controls
        //
          ================================================
          ================= SIDEBAR Content ===================
          =================================================
        aside#sidebar
          #sidebar-wrap
            .panel-group.slim-scroll(role='tablist')
              .panel.panel-default
                .panel-heading(role='tab')
                  h4.panel-title
                    a(data-toggle='collapse', href='#sidebarNav')
                      | Navigation 
                      i.fa.fa-angle-up
                #sidebarNav.panel-collapse.collapse.in(role='tabpanel')
                  .panel-body
                    //
                      ===================================================
                      ================= NAVIGATION Content ===================
                      ====================================================
                    ul#navigation
                      li
                        a(href='/')
                          i.fa.fa-dashboard
                          span Dashboard
                      li
                        a(href='/categories')
                          i.fa.fa-bookmark-o
                          span Categories
                      li
                        a(href='/products')
                          i.fa.fa-gift
                          span Products
                      li
                        a(href='/orders')
                          i.fa.fa-usd
                          span Orders
                      li
                        a(href='/users')
                          i.fa.fa-users
                          span Users
                    // / NAVIGATION Content
        // / SIDEBAR Content
      // / CONTROLS Content
      //
        ====================================================
        ================= CONTENT ===============================
        =====================================================
      section#content
        .page.page-shop-orders
          .pageheader
            h2 Manage Orders
            .page-bar
              ul.page-breadcrumb
                li
                  a(href='/')
                    i.fa.fa-home
                    |  EMISS
                li
                  a(href='/orders') Manage Orders
          // page content
          .pagecontent
            // row
            .row
              // col
              .col-md-12
                // tile
                section.tile
                  // tile header
                  .tile-header.dvd.dvd-btm
                    h1.custom-font
                      strong Orders
                      |  List
                    ul.controls
                      li
                        a(href='javascipt:;')
                          i.fa.fa-plus.mr-5
                          |  New Order
                      li.dropdown
                        a.dropdown-toggle.settings(role='button', tabindex='0', data-toggle='dropdown')
                          i.fa.fa-cog
                          i.fa.fa-spinner.fa-spin
                        ul.dropdown-menu.pull-right.with-arrow.animated.littleFadeInUp
                          li
                            a.tile-toggle(role='button', tabindex='0')
                              span.minimize
                                i.fa.fa-angle-down
                                |    Minimize
                              span.expand
                                i.fa.fa-angle-up
                                |    Expand
                          li
                            a.tile-refresh(role='button', tabindex='0')
                              i.fa.fa-refresh
                              |  Refresh
                          li
                            a.tile-fullscreen(role='button', tabindex='0')
                              i.fa.fa-expand
                              |  Fullscreen
                  // /tile header
                  // tile body
                  .tile-body
                    .table-responsive
                      table#orders-list.table.table-striped.table-hover.table-custom
                        thead
                          tr
                            th.no-sort(style='width:40px;')
                              label.checkbox.checkbox-custom-alt.checkbox-custom-sm.m-0
                                input#select-all(type='checkbox')
                                i
                            th(style='width:80px;') Order ID
                            th(style='width:120px;') Date
                            th(style='width:180px;') Placed By
                            th(style='width:80px;') Status
                            th Ship To
                            th(style='width:90px;') Quantity
                            th(style='width:100px;') Total
                            th.no-sort(style='width:150px;') Actions
                  // /tile body
                // /tile
              // /col
            // /row
          // /page content
      // / CONTENT
    // / Application Content
    include ../layout/footer.jade
    script(src='views/order/index.js', type='text/javascript')
    // / Page Specific Scripts
