doctype html
html(lang="en")
    head
        title cqrs-sample - CQRS Sample with cqrs-domain, cqrs-eventdenormalizer, etc.
    body
        h1 cqrs-sample
        p At this point of development you can create, change and delete items. 
        p They are saved in a read model for presentation and in an eventstore for domain persitance.

        #index-view
            input#newItemText(type="text")
            input#newItemUserId(type="text")
            button#addItem add

            ul#items

        p You can have multiple browser windows open - all get updated via socket.io.
        
        include ../layout/footer.jade
        script(src='views/item/index.js', type='text/javascript')



